.main {
    float: left;
}

.secondary {
    float: right;
}

.headline {
    clear: both;
}

.headline>h2 {
    text-align: center;
    text-decoration: underline;
}

#table-repair {
    border-collapse: collapse;
    width: 100%;
}

#table-repair td,
#table-repair th {
    border: 1px solid rgb(0, 0, 0);
}

.container {
    margin-top: 50px;
}

.main-details {
    margin-top: 55px;
}